[user]
	name = Souvlaki42
	email = ilias@moulas.dev

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	default = current

[core]
	autocrlf = input # Convert CRLF to LF on commit, no reverse conversion
  safecrlf = false   # Don't warn about CRLF on commit
  eol = lf          # Use LF as EOL

[alias]
	st = status -s
	sta = status
	conf = config --global --edit
	undo = reset --soft HEAD^
	ci = commit
	co = checkout
	cod = checkout .
	rh = reset HEAD
	aa = add -A
	cdf = clean -df
	pr = pull --rebase
	br = branch
	bra = branch -a
	amend = commit -a --amend --no-edit
	pfl = push --force-with-lease

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
