@import "colors.css";

* {
  font-family: "hack nerd font";
  font-weight: 900;
  font-size: 14px;
  color: @text;
}

/* Set background color of main waybar window */
window#waybar {
  background: rgba(21, 22, 80, 0);
}

/* Set background color of tooltips */
tooltip {
  background: @surface0;
}

#workspaces,
#clock {
  border-radius: 12px;
}

#workspaces {
  margin-right: 4px;
}

/* Set workspace text color and padding */
#workspaces button {
  padding: 0 10px;
  border-bottom: none;
  margin-bottom: 2px;
}

/* Sets active workspace to have a solid line on the bottom */
#workspaces button.active {
  border-bottom: 2px solid @blue;
  border-radius: 0;
  margin-bottom: 2px;
}

/* Sets background, padding, margins, and borders for (all) modules */
#custom-power,
#custom-arch,
#workspaces,
#clock,
#network,
#battery,
#window,
#temperature,
#cpu,
#memory,
#backlight,
#pulseaudio,
#tray,
#mpd {
  background: rgba(38, 44, 57, 0.7);
  padding: 0 12px;
  border: 0;
}

/* Set up rounding to make these modules look like separate pills */
#tray,
#window {
  border-radius: 12px;
}

/* Rounding only on left of module */
#pulseaudio {
  border-radius: 12px 0 0 12px;
}

/* Rounding only on right of module(s) */
#battery { 
  color: @green;
  border-radius: 0 12px 12px 0;
}

#cpu,
#memory {
  color: @maroon;
}

#backlight {
  color: @subtext1;
}

#network {
  color: @yellow;
}

#pulseaudio {
  color: @lavender;
}

#battery.critical {
  color: white;
  background: @red;
}

#custom-power {
  border-radius: 12px;
  margin-left: 5px;
}

#custom-arch {
  border-radius: 12px;
  margin-right: 5px;
}

