[user]
	name = Souvlaki42
	email = souvlaki420@gmail.com

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	default = current

[core]
	autocrlf = false  # Don't convert line endings
	safecrlf = true   # Warns/errors if mixed line endings are about to be committed

[alias]
	st = status -s
	sta = status
	conf = config --global --edit
	undo = reset --soft HEAD^
	ci = commit
	co = checkout
	cod = checkout .
	rh = reset HEAD
	aa = add -A
	cdf = clean -df
	pr = pull --rebase
	br = branch
	bra = branch -a
	amend = commit -a --amend --no-edit
	pfl = push --force-with-lease

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
